html {
  overflow:hidden;
  zoom: reset;
}
div {
  font-family: sans-serif;
}
div.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: -10px;
  left: -10px;
  overflow:hidden;
  border-color: #FFFFFF;
}
div#outOfArea {
  width: 100vw;
  height: 100vh;
}
div.avatar {
  position: absolute;
  width: 10%;
  height: 10%;
}
div.foods {
  position: absolute;
  width: 10px;
  height: 10px;
}
div.popUpName {
  position: fixed;
  z-index: 9999;
  background-color: white;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 150px;
  margin-top: -100px;
  margin-left: -200px;
  align-items: center;
  text-align: center;
  padding: 60px 0;
  border: 3px solid #977797;
  text-align: center;
  border-radius: 8px;
}
div.bgUpName {
  position: fixed;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  background-color:#000000;
  background-size:100%;
  width: 105%;
  height: 105%;
  z-index: 9998;
  top: -5px;
  left: -5px;
}
button.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}
button.play {
  background-color: white;
  color: black;
  border: 2px solid #979797;
}
button.play:hover {
  background-color: #979797;
  color: white;
}
input[type=text], select {
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
div.score {
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  right: 0;
}
a.ranking {
  position: absolute;
  display: block;
  font-family: sans-serif;
  top: 0;
  right: 0;
  z-index: 99;
}
div.chick {
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
}
div.rankingBoard {
  z-index : 1000;
  top: 0;
  right: 0;
  height: 250px;
  position: absolute;
  background-color:#DDDDDD;
  opacity:0.4;filter:alpha(opacity=40);
  overflow:hidden;
}
